# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Avoid committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock


.obsidian/

cache.db
# used as a reference https://github.com/AhmedElTabarani/dorar-hadith-api
dorar-hadith-api-main